@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('anim.css');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/*
#Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: none; 
  min-height: 100%;
}
*/

.moon {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 35px;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url("../img/moon.png");
  background-repeat: no-repeat;
  background-position: 51.5% 48.5%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
  margin-bottom: 1em;
  -webkit-animation: vibrate 0.2s linear infinite both;
  animation: vibrate 0.2s linear infinite both;
}

.logo {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 150px;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url("../img/logo/logo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
  vertical-align:middle;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: linear-gradient(rgb(255, 225, 35), hsla(120, 100%, 50%, 0.3) 70.71%), url(../img/bg.jpg) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner {
	display: table-cell;
	vertical-align:middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.btn1{
  display: inline-block;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: auto;
  margin-right: 3em;
  margin-top: 4em;
  border: none;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("../img/icons/github.png");
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: slide-top 3s ease-in-out 300ms infinite alternate both;
  animation: slide-top 3s ease-in-out 300ms infinite alternate both;
}


.btn2{
  display: inline-block;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: auto;
  margin-right: 3em;
  margin-top: 4em;
  border: none;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("../img/icons/pickaxe.png");
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: slide-top 3s ease-in-out 300ms infinite alternate both;
  animation: slide-top 3s ease-in-out 300ms infinite alternate both;
}

.btn3{
  display: inline-block;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: auto;
  margin-right: 3em;
  margin-top: 4em;
  border: none;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("../img/icons/bcexplorer.png");
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: slide-top 3s ease-in-out 300ms infinite alternate both;
  animation: slide-top 3s ease-in-out 300ms infinite alternate both;
}

.btn4{
  display: inline-block;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: auto;
  margin-right: 3em;
  margin-top: 4em;
  border: none;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("../img/icons/twitter.png");
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: slide-top 3s ease-in-out 300ms infinite alternate both;
  animation: slide-top 3s ease-in-out 300ms infinite alternate both;
}

.btn5{
  display: inline-block;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: auto;
  margin-right: 3em;
  margin-top: 4em;
  border: none;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("../img/icons/telegram.png");
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: slide-top 3s ease-in-out 300ms infinite alternate both;
  animation: slide-top 3s ease-in-out 300ms infinite alternate both;
}

.bottombar {
	margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  overflow: hidden;
  border: auto solid;
  -webkit-border-radius: auto;
  border-radius: auto;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #595959;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) ;
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) ;
}

/*.down {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 50px;
  border: none;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url("../img/icons/down.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
  margin-top: 3em;
  vertical-align: middle;
}*/

h1 {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	text-shadow: 0px 0px 300px #000;
	font-size: 500%;
	margin-bottom: 0px;
	margin-top: 50px;
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	text-shadow: 0px 0px 300px #000;
	font-size: 150%;
	margin-bottom: 10px;
	margin-top: 0px;
	-webkit-animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.9s both;
	animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.9s both;
}

h3 {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	text-shadow: 0px 0px 300px #000;
	font-size: 200%;
	text-align: center;
	margin-block-end: 0.5em;
}

.main {
	height: 80%;
	width: 100%;
	margin: auto;
	background: linear-gradient(hsla(118, 90%, 45%, 0.5), hsla(118, 90%, 45%, 0.5) 70.71%), url(../img/misc/harold.png) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
}

.main .inner .about {
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 3em;
	line-height: 1.2;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}

.glasses {
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 100px;
  border: none;
  background: url("../img/misc/glasses.png");
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.bigsmoke {
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 100px;
  border: none;
  background: url("../img/misc/bigsmoke.png");
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30px;
}

.pepehands {
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 120px;
  border: none;
  background: url("../img/misc/1x1.png");
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

img {
    width: 200px;
    height: 200px;
}

.features {
  flex: 15%;
  padding: 5px;
}

.feature1 {
	position: relative;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 1.75em;
	line-height: 1.2;
    width: 40%;
	display: inline-block;
/*	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both; */
}

.feature2 {
	position: relative;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	text-align: center;
	font-size: 1.75em;
	line-height: 1.2;
    width: 40%;
	display: inline-block;
	-webkit-background-clip: text;
}

.feature3 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 1.75em;
	line-height: 1.2;
    width: 40%;
	display: inline-block;
}

.features img {
	width: 200px;
    height: 200px;
	border-radius: 50%;
}

.team {
	height: 80%;
	width: 100%;
	margin: auto;
	background: linear-gradient(hsla(40, 90%, 45%, 0.8), hsla(40, 90%, 45%, 0.8) 70.71%), url(../img/misc/group.png) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
}


.team .inner .heading {
	color: #000000;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 3em;
	line-height: 1.2;
}

.members {
  flex: 15%;
  padding: 5px;
}

.members img {
	width: 250px;
    height: 250px;
	border-radius: 50%;
}

.member {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.2;
	display: inline-block;
/*	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both; */
}

.member .caption {
    /* Make the caption a block so it occupies its own line. */
	font-size: 1.75em;
    display: block;
}

.member p {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 1em;
	line-height: 1.2;
	display: inline-block;
}

.advisors {
  flex: 15%;
  padding: 5px;
}

.advisors img {
	width: 250px;
    height: 250px;
	border-radius: 50%;
}

.maindiv {
  margin-top: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 3px;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url("../img/misc/maindiv.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  background-size: cover;
}

.important {
	height: 65%;
	width: 100%;
	margin: auto;
	background: linear-gradient(hsla(210, 90%, 45%, 0.7), hsla(210, 90%, 45%, 0.7) 70.71%), url(../img/misc/pepethumbsup.png) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
}

.important .inner img {
	width: 750px;
    height: 500px;
}

.link {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 4em;
	line-height: 1.2;
	display: inline-block;
	color: #FFFFFF;
/*	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both; */
}

.resources {
	height: 60%;
	width: 100%;
	margin: auto;
	background: linear-gradient(hsla(43, 90%, 77%, 0.8), hsla(43, 90%, 77%, 0.8) 70.71%), url(../img/misc/doge.jpg) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
}

.resources .inner h4 {
	font-family: 'Raleway', sans-serif;
	color: #000000;
	text-shadow: 0px 0px 300px #000;
	font-size: 200%;
	text-align: center;
	margin-block-end: 0.5em;
	margin-bottom: 3.5em;
}

.resources .inner h5 {
	font-family: 'Raleway', sans-serif;
	color: #000000;
	text-shadow: 0px 0px 300px #000;
	font-size: 200%;
	text-align: center;
	margin-block-end: 0.5em;
	margin-bottom: 1em;
}

.resources .inner {
  flex: 15%;
  padding: 5px;
}

.btn {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 2em;
	line-height: 1.2;
	display: inline-block;
	color: black;
}

.btn img {
	width: 180px;
    height: 180px;
}

.bin .btn img {
	width: 250px;
    height: 250px;
}

.footer {
	height: 20%;
	width: 100%;
	margin: auto;
	background: gray;
	display: table;
	top: 0;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
}

.inner-info {
	font-family: 'Oswald', sans-serif;
	text-align: left;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.inner-info img {
	width: 50px;
    height: 50px;
	float: right;
	margin-right: 30px;
}